{
  "env": {
    "browser": true,
    "es6": true,
    "jest/globals": true,
    "node": true
  },
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaFeatures": {"jsx": true},
    "ecmaVersion": 2017,
    "sourceType": "module"
  },
  "plugins": [
    "jest",
    "jsdoc",
    "react"
  ],
  "settings": {
    "jsdoc": {"mode": "typescript"}
  },
  "rules": {
    "array-bracket-spacing": ["error", "never"],
    "array-callback-return": "error",
    "arrow-spacing": "error",
    "brace-style": ["error", "stroustrup"],
    "comma-spacing": ["error", {"before": false, "after": true}],
    "computed-property-spacing": ["error", "never"],
    "cond-assign": "off",
    "dot-notation": "error",
    "eol-last": ["error", "always"],
    "eqeqeq": "error",
    "generator-star-spacing": ["error", "after"],
    "indent": ["error", 2, {"SwitchCase": 1}],
    "jsdoc/check-alignment": "warn",
    "jsdoc/check-examples": "off",
    "jsdoc/check-indentation": "off",
    "jsdoc/check-param-names": "warn",
    "jsdoc/check-syntax": "warn",
    "jsdoc/check-tag-names": "warn",
    "jsdoc/check-types": "warn",
    "jsdoc/implements-on-classes": "off",
    "jsdoc/match-description": "off",
    "jsdoc/newline-after-description": "off",
    "jsdoc/no-types": "off",
    "jsdoc/no-undefined-types": "off",
    "jsdoc/require-description": "off",
    "jsdoc/require-description-complete-sentence": "off",
    "jsdoc/require-example": "off",
    "jsdoc/require-hyphen-before-param-description": "warn",
    "jsdoc/require-jsdoc": "off",
    "jsdoc/require-param": "warn",
    "jsdoc/require-param-description": "off",
    "jsdoc/require-param-name": "warn",
    "jsdoc/require-param-type": "warn",
    "jsdoc/require-returns": "warn",
    "jsdoc/require-returns-check": "warn",
    "jsdoc/require-returns-description": "off",
    "jsdoc/require-returns-type": "warn",
    "jsdoc/valid-types": "warn",
    "key-spacing": ["error", {"beforeColon": false, "afterColon": true}],
    "keyword-spacing": ["error", {"before": true}],
    "linebreak-style": ["error", "unix"],
    "max-len": ["error", {"code": 100, "tabWidth": 2}],
    "named": "off",
    "no-array-constructor": "error",
    "no-console": ["warn", {"allow": ["warn", "error", "info"]}],
    "no-dupe-class-members": "error",
    "no-dupe-keys": "error",
    "no-else-return": "error",
    "no-empty": "error",
    "no-func-assign": "error",
    "no-label-var": "error",
    "no-lone-blocks": "error",
    "no-mixed-spaces-and-tabs": "error",
    "no-multi-spaces": "error",
    "no-multi-str": "error",
    "no-multiple-empty-lines": ["error", {"max": 1, "maxBOF": 0, "maxEOF": 0}],
    "no-path-concat": "error",
    "no-redeclare": ["error", {"builtinGlobals": true}],
    "no-script-url": "error",
    "no-self-compare": "error",
    "no-shadow": ["error", {"allow": ["done"]}],
    "no-shadow-restricted-names": "error",
    "no-sync": "error",
    "no-trailing-spaces": "error",
    "no-undef": "error",
    "no-unreachable": "error",
    "no-unused-labels": "off",
    "no-unused-vars": ["error", {"ignoreRestSiblings": true}],
    "no-use-before-define": ["error", {"functions": false, "classes": false}],
    "no-useless-constructor": "error",
    "no-var": "error",
    "object-curly-spacing": ["error", "never"],
    "object-shorthand": ["error", "always"],
    "prefer-spread": "error",
    "prefer-template": "error",
    "quotes": ["error", "backtick", {"allowTemplateLiterals": true}],
    "radix": "error",
    "react/jsx-no-undef": ["error", {"allowGlobals": true}],
    "react/jsx-uses-react": "error",
    "react/jsx-uses-vars": ["error"],
    "semi": ["error", "never"],
    "space-before-blocks": ["error", "always"],
    "space-before-function-paren": ["error", {"anonymous": "always", "named": "never", "asyncArrow": "always"}],
    "space-in-parens": ["error", "never"],
    "space-infix-ops": "error",
    "spaced-comment": ["error", "always"],
    "template-curly-spacing": ["error", "never"],
    "use-isnan": "error",
    "valid-typeof": "error"
  }
}