package-lock.json merge=ours
yarn.lock merge=ours

# source code
*.htm text eol=lf
*.html text eol=lf
*.js text eol=lf
*.json text eol=lf
*.md text eol=lf
*.po text eol=lf
*.svg text eol=lf
*.ts text eol=lf
*.txt text eol=lf

# misc config
.babelrc text eol=lf
.editorconfig text eol=lf
.eslintrc eol=lf
.gitattributes text eol=lf
.gitconfig text eol=lf
.gitignore text eol=lf

# Documentation
AUTHORS text
LICENSE text
