/**
  @tag: div
  @component Panel
*/
.panel {
  background-color: white;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 50px;
  overflow-y: auto;
  padding: 2vh 4vw;
}

/**
  @tag: h2
  @component Caption
  size?: --size 20px
*/
.h2 {
  color: #b7b7b7;
  font-family: Rationale, sans-serif;
  font-size: var(--size, 20px);
  font-weight: normal;
  margin: 15px 0;
}

/**
  @tag: div
  @component Row
*/
.row {
  align-items: center;
  display: flex;
  gap: 40px;
  margin-bottom: 40px;
}
